*:focus { outline: none; }
/*input {outline:none;}*/
.continner{
	width: 80%;
	margin: 0 auto;
}
/*head-top str*/
.head-search{
	width: 80%;
	margin: 0 auto;
}
.head-top{
	font-size: 12px;
	width: 100%;
}
.head-top ul{
	width: ;0%;
	float: right;
}
.head-top ul li{
	position: relative;
	color: #999999;
	float: left;
	padding: 14px;
}
.head-top ul li a{
	color: #000;
}
.head-top ul li a:hover{color: #CF0100;}
.head-top ul li img{
	line-height: 1.1;
	padding-right: 4px;
	vertical-align: middle;
}
.head-top .phone a{
	color: #C50605;
}
/*head-top end*/
/*head-search str*/
.logo{
	width: 50%;
	float: left;
}
.logo img{
	max-width: 100%;
}
/*nav str*/
.nav{float:left;width: 100%;border: none; border-bottom: #CF0100 solid 2px;margin-top: 20px;}
.nav ul{margin-left: 10%;}
.nav ul li{float: left; width: 120px; height:36px; line-height:36px; text-align: center;font-size: 16px;}
.nav_col{background: #CF0100;}
.nav ul li .on{color: #FFFFFF;}
/*nav end*/
/*main str*/
.main{width: 100%;margin-top:10px;float:left;}
.main_left{
	width:21.3333%;
	margin-left: 1px;
	float: left;
}
.main_left img{
	max-width: 100%;
}
.main_middle{
	width:50.6%;
	float: left;
	margin-left: 1%;
}
.main_middle img{
	max-width: 100%;
}
.main_right{
	width: 25.6%;
	float: right;
}
.main_right ul li{
	float: left;
	font-size: 16px;
	cursor: pointer;
	width: 48%;
	height: 54px;
	color: #535353;
	text-align: center;
	line-height: 54px;
}
.main_right ul .bor{
	color: #FFFFFF;	
	border: #CF0100 solid 1px;
	background:#CF0100 ;
}
i,b{
	display: inline-block;
	vertical-align: middle;
	background-image: url(../img/icon/icon_sb.png);
	background-repeat: no-repeat;
}
.main_right ul li i{
	width: 20px;
	height: 20px;
	line-height: 20px;
	background: url(../img/icon/icon_sb.png);
	background-position: -10px -36px;
}

.main_right ul li b{
	width: 20px;
	height: 20px;
	line-height: 20px;
	background: url(../img/icon/icon_sb.png);
	background-position: -10px -9px;
}
	
.main_right ul .bor i{
	background-position: -32px -36px;
}
.main_right ul .bor b{
	background-position: -32px -10px;
}
.main_right .for p{
	margin: 20px 0px 0px 0px;
}
.main_right .for .for_sj .area input,.main_right .for .for_bj .area input{
	width: 80.5%;
	font-size: 12px;
	text-indent: 10px;
	border:#535353 solid 1px;
	height: 38px;
	line-height: 38px;
	margin: 5px 0px 5px 0px;
}
.main_right .for .for_sj .area  .dw,.main_right .for .for_bj .area  .dw{
	font-size: 12px;
	float: right;
	padding-right: 10px;
	line-height: 40px;
}
.main_right .for .for_sj .local select,.main_right .for .for_bj .local select{
	width: 32.33%;
	float: left;
	cursor: pointer;
	font-size: 12px;
	text-indent: 10px;
	height: 38px;
	line-height: 38px;
	margin: 5px 1% 5px 0px;
}
.main_right .for .for_sj .local select option,.main_right .for .for_bj .local select option{
	width: 100%;
	float: left;
	cursor: pointer;
	font-size: 12px;
	text-indent: 10px;
	height: 38px;
	line-height: 38px;
}
.main_right .for input[type="text"]{
	width: 98.5%;
	font-size: 12px;
	text-indent: 10px;
	border:#535353 solid 1px;
	color: #535353;
	height: 38px;
	line-height: 38px;
	margin: 5px 0px 5px 0px;
}
.main_right .for_sj{
	display: block;
	line-height: 1.1;
	font-size: 12px;
	float: left;
	margin-left: 4%;
	width: 96%;
}
.main_right .for_bj{
	line-height: 1.1;
	font-size: 12px;
	float: left;
	width: 96%;
	margin-left: 4%;
	display: none;
}
.main_right  input[type="submit"]{
	width: 100%;
	font-size: 16px;
	line-height: 58px;
	background: #FFFFFF;
	color: #CF0100;
	border: #CF0100 solid 1px;
}
.main_right  input[type="submit"]:focus{
	background: #CF0100;
	color: #FFFFFF;
}

/*main end*/
/*home_bak str*/
.home_bak{
	position:relative;
	width: 100%;
	color: #FFFFFF;
	font-size: 18px;
	margin: 30px 0px 0px 0px;
	border: solid 1px;
}
.personal_design{
	width: 18%;
	float: left;
	text-align: center;
	line-height: 2;
	background: #616161;
}
.personal_design_img{
	width: 100%;
	float: left;
	text-align: center;
	line-height: 2;
}
.personal_design_img img{
	padding: 20px 0px 0px 0px;
	max-width: 100%;
}

.personal_design_text{
	position:relative;
	text-align: left;
	line-height: 2;
	padding:6% 2% 0% 0%;
	font-size: 14px;
	display: none;
}
.por{
	width: 64%;
}
.img_hover{
	width: 30%;
}
.material_benefit{
	background: #CF0100;
}
.standard_construction{
	background: #ff743d;
}

/*home_bak end*/
/*home_exaple str*/
.home_exaple{
	margin-top: 40px;
	width: 100%;
	height: 200px;
}
.exaple_title,.shop_title,.direct_title,.answer_title,.service_title{
	width: 100%;
	height: 50px;
	font-size: 22px;
	text-indent: 10px;
	color: #CF0100;
	font-weight: bold;
	line-height: 50px;
	border-bottom: #CF0100 solid 1px;
}
.exaple_title ul{
	float: right;
}
.exaple_title ul li{
	float: left;
	font-size: 14px;
	color: #535353;
	margin-left: 60px;
	font-weight: 100;
}
.exaple_content{
	float: left;
	margin-top: 10px;
	width: 100%;
}
.exaple_content_left{
	width: 27%;
	float: left;
}
.exaple_content_left img,.exaple_content_right img{
	max-width: 100%;
}
.exaple_content_left a p,.exaple_content_middle a p,.exaple_content_right a p{
	max-width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-top: -40PX;
	display: none;
	opacity: .5;
	background: #535353;
	font-size: 18px;
	color: #FFFFFF;
}
.exaple_content_left:hover a p,.exaple_content_right:hover a p{
	display: block;
	z-index: 9999;
}
.exaple_content_middle{
	width: 38.75%;
	float: left;
	margin: 0% 1.6666667%;
}
.exaple_content_middle_top{
	width: 100%;
	float: left;
}
.exaple_content_middle_top_left{
	width: 52.8%;
	float: left;
}
.exaple_content_middle_top_right{
	width: 43%;
	margin-left: 4%;
	float: left;
}
.exaple_content_middle_bottom{
	width: 100%;
	float: left;
	margin-top: 4%
}
.exaple_content_middle_top_left a p,.exaple_content_middle_top_right a p,.exaple_content_middle_bottom a p{
	max-width: 100%;
	height: 40px;
	text-align: center;
	margin-top: -40PX;
	display: none;
	opacity: .5;
	background: #535353;
	font-size: 18px;
	color: #FFFFFF;
}
.exaple_content_middle_top_left:hover a p,.exaple_content_middle_top_right:hover a p,.exaple_content_middle_bottom:hover a p{
	display: block;
}
.exaple_content_middle_top_left img,.exaple_content_middle_top_right img,.exaple_content_middle_bottom img{
	max-width: 100%;
}
.exaple_content_right{
	width: 30.91%;
	float: right;
}
/*home_exaple end*/
/*home_porsonal str*/
.home_porsonal{
	width: 100%;
	margin: 0 auto;
}
.home_porsonal ul{
	width: 100%;
	float: left;
}
.home_porsonal ul li p{
	width: 100%;
	text-align: center;
}
.home_porsonal ul li{
	width: 16.44%;
	padding-top: 40px;
	text-align: center;
	margin: 0 auto;
	float: left;
}
.home_porsonal ul li .base{
	width: 120px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 20px;
}
.home_porsonal ul li .base img{
	max-width: 100%;
	border-radius: 50%;
}
.base_link{
	width: 78px;
    height: 78px;
    margin: 0 auto;
    line-height: 2;
    z-index: 10;
    color: #FFFFFF;
    display: none;
    box-shadow: none;
    border-radius: 50%;
    padding:20.5px;
    margin-top: -119px;
}

.home_porsonal ul li:hover .base_link{
	display: block;
	opacity: .6;
    background: #616161;
	color: #FFFFFF;
}
/*home_porsonal end*/
/*home_shop   str*/
.home_shop{margin-top: 40px;}
.shop_content{
	float: left;
	margin:30px 0px 30px 0px;
	width: 100%;
}
.shop_left{
	float: left;
	width: 17.1666666%;
}
.shop_text{
	width: 100%;
	float: left;
}
.shop_left .shop_text ul{
	float: left;
	background: #535353;
	width: 90%;
	padding: 5%;
}
.shop_left .shop_text ul li{
	width: 50%;
	height: 32px;
	line-height: 32px;
	float: left;
}
.shop_left .shop_text ul li a{
	color: #FFFFFF;
	font-family:serif;
	font-size: 12px;
	margin: 10%;
}
.shop_left .shop_text ul li a:hover{color: #CF0100;}
.shop_compy ul{
	width: 100%;
	float: left;
	margin-top: 8px;
}
.shop_compy ul li {
	width: 100%;
	float: left;
	text-align: center;
	padding-top: 5px;
}
.shop_compy ul li img{
	max-width: 100%;
}
.shop_middle{
	width: 42.4%;
	float: left;
	margin:0 3% 0 3%;
}
.shop_middle ul{
	width: 100%;
	float: left;	
}
.shop_middle ul li{
	text-align: center;
 	width: 43%;
 	float: left;
 	margin:0 2% 2% 5%;
}
.shop_middle ul li a{
	color: #535353;
}
.shop_middle ul li img{
	max-width: 100%;
}
.shop_middle ul li p{
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	overflow:hidden;
}
.shop_middle ul li p label,.shop_middle ul li p span{
	color: #CF0100;
}
.shop_right{
	width: 32.5%;
	float: right;
}

/*home_shop    end*/
/*home_direct    str*/
.home_direct{
	float: left;
	margin:0px 0px 20px 0px;
	width: 100%;
}
.home_direct ul{
	width: 100%;
	float: left;
	margin-top: 32px;
}
.home_direct ul li{
	float: left;
	text-align: center;
	width: 32.6%;
}
.home_direct .marp{
	margin:0 1% 0 1%;
}
.home_direct ul li a img{
	max-width: 100%;
}
.home_direct ul li a p{
	max-width: 100%;
	height: 36px;
	line-height: 36px;
	text-align: center;
	margin-top: -36PX;
	display: none;
	opacity: .5;
	background: #535353;
	font-size: 16px;
	color: #FFFFFF;
}
.home_direct ul li:hover a p{
	display: block;
}
/*home_direct    end*/
/*home_answer    str*/
.home_answer{
	float: left;
	width: 100%;
}
.answer_context{
	width: 100%;
	float: left;
}
.answer_left{
	width: 31%;
	float: left;
}
.answer_left_up,.answer_left_down{
	width: 100%;
	float: left;
	margin-top: 30px;
}
.answer_left_up_img,.answer_left_down_img{
	width: 50%;
	float: left;
	text-align: center;
}
.answer_left_up_img p,.answer_left_down_img p{
	width: 100%;
	font-size: 18px;
	height: 40px;
	margin-top: 10px;
	line-height: 40px;
	background: #535353;
	color: #FFFFFF;
}
.answer_left_up ul,.answer_left_down ul{
	width: 50%;
	float: left;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	overflow:hidden;
}
.answer_left_up ul li,.answer_left_down ul li{
	width: 100%;
	color: #535353;
	margin-left: 18%;
	font-size: 16px;
	line-height: 2.2;
	list-style: disc;
}
.answer_left_up ul li a,.answer_left_down ul li a{
	color: #535353;
	font-size: 12px;
}
.answer_left_up ul li a:hover,.answer_left_down ul li a:hover{
	color: #CF0100;
}
.answer_middle {
    width: 24%;
    float: left;
    margin: 50px 2% 0% 2%;
}
.answer_middle img{
	max-width: 100%;
	height: 100%;
}
.answer_middle a p{
	max-width: 100%;
	height: 36px;
	line-height: 36px;
	text-align: center;
	margin-top: -36PX;
	display: none;
	opacity: .5;
	background: #535353;
	font-size: 14px;
	color: #FFFFFF;
}
.answer_middle:hover a p{
	display: block;
}
.answwer_right {
    margin-top: 50px;
    width: 40%;
    height: 271px;
    float: right;
    background: url(../img/stady_img.png)no-repeat;
}
.answwer_right_context{
	width: 100%;
	height: 100%;
	color: #FFFFFF;
	font-size: 16px;
	font-family: "arial narrow";
	text-align: center;
	display: block;
	line-height:4;
	opacity: .8;
	background: #535353;
	float: left;
}
.answwer_right_context label{
	font-size: 24px;
	font-family: charcoal;
}
.answwer_right_context button{
	width: 44%;
	height: 40px;
	background: #535353;
	color: #FFFFFF;
	font-size: 16px;
	border: #FFFFFF solid 1px;
	border-radius: 8px;
}
.answwer_right_context button:hover{
	background: #FFFFFF;
	color: #535353;
}
/*home_answer    end*/
/*home_service   str*/
.home_service{
	float: left;
	margin-top: 40px;
	width: 100%;
	margin-bottom: 100px;
}
.home_service ul{
	width: 100%;
	float: left;
}
.home_service ul li{
	width: 10%;
	line-height: 1.2;
	margin-left: 1%;
	text-align: center;
	float: left;
}
.home_service ul li p{
	font-size: 50px;
}
.home_service ul li label{
	font-size: 16px;
	font-family:gadget
}
.home_service ul li img{
	padding-top: 30px;
}
/*home_service   end*/
/*设计师页面              str*/
.designer-list ul {
	padding: 20px;
}

.designer-list ul li {
	float: left;
	width: 20%;
	text-align: center;
	line-height: 1.5;
	margin-top: 20px;
}
.designer-list ul li img{
	border-radius: 50%;
}
.designer-list ul li.clear {
	float: none;
}

.designer-list ul li h4 {
	padding-top: 12px;
	color: #333;
}

.designer-list ul li div {
	color: #666;
}
/*设计师页面              end*/
/*设计师介绍         str*/
.designer {
	padding: 80px 0 34px;
}

.designer .img {
	float: left;
	width: 34%;
	line-height: 1.5;
	padding-right: 6%;
	text-align: center;
}

.designer .descirpt {
	float: left;
	padding-top: 6px;
	width: 60%;
}

.designer .descirpt .idea h3,
.designer .descirpt .idea div {
	padding-bottom: 18px
}

.designer .descirpt .order-btn {
	padding: 6px 24px;
	border: 1px solid #cf0100;
	border-radius: 10px;
	color: #cf0100;
}

.designer .descirpt .order-btn:hover {
	background: #cf0100;
	color: #fff;
}
/*设计师介绍*/
/*foot   str*/
.foot{
	width: 100%;
	background: #535353;
	font-size: 12px;
	float: left;
}
.footer{
	width: 60%;
	margin:0 auto;
	padding:40px 0px 40px 0px;
}
.footer dl{
	width: 25%;
	float: left;
	color: #c0c0c0;
	line-height: 2.6;
}
.footer dl dt{
	color: #FFFFFF;
	font-size: 14px;
	font-family: arial;
}
.footer dl dt dd{
	font-size: 12px;
	line-height: 20px;
	color: #c0c0c0;
	font-family: arial;
}
.scode{
	padding-top: 10px;
	text-align: center;
	color: #FFFFFF;
}
/*foot   end*/
/*媒体查询*/
@media screen and (min-width: 1367px) {
	.continner{
		width:1200px;
	}
	.head-search{
		width:1200px;
	}
	.nav{
		margin: 0 auto;
		width: 100%;
	}
	.nav ul{
		margin-left: 10%;
	}
}
@media screen and (max-width: 1136px) {
	.shop_middle{
		width: 41.4%;
		float: left;
		margin:0 2% 0 2%;
	}
	.shop_right{
		width: 36.5%;
		float: right;
	}
}
@media screen and (max-width: 1024px) {
	.continner{width: 100%}
	.head-search{width: 100%;}
	.nav ul{margin-left: 0;}
	.main_right  input[type="submit"]{line-height: 58px;}
	.exaple_content_middle_top_left a p,.exaple_content_middle_top_right a p,.exaple_content_middle_bottom a p{
		height: 36px;
		line-height: 36px;
		margin-top: -36PX;
		font-size: 16px;
	}
	.exaple_content_left a p,.exaple_content_middle a p,.exaple_content_right a p{
		height: 36px;
		line-height: 36px;
		margin-top: -36PX;
		font-size: 16px;
	}
	.home_direct ul li a p{
		height: 32px;
		line-height: 32px;
		margin-top: -32PX;
		font-size: 14px;
	}
	.shop_middle{
		width: 42.4%;
		float: left;
		margin:0 2% 0 2%;
	}
	.shop_right{
		width: 34.5%;
		float: right;
	}
}
@media screen and (max-width: 900px) {
	body{
		padding: 10px;
	}
	.head-top ul li{padding: 8px;}
	.search input[type="button"] {
    font-size: 16px;}
	.head-search{margin-top: -10px;}
	.logo{width:100%;padding: 10px;}
	.nav ul li{width: 20%; font-size: 14px;}
	.search{width: 96%;}
	.main_left{
		width:28.833%;
		margin-right: 10px;
		float: left;
	}
	.main_middle{
		width:69%;
		margin-left: 0px;
		float: left;
	}
	.main_middle img{
		max-width: 100%;
	}
	.main_right{
	width: 100%;
	padding-top: 10px;
	margin-left: 0px;
	float: right;
	}
	.main_right .for_sj,.main_right .for_bj{
	width: 100%;
	margin-left: 0;
	}
	.shop_left{
	float: left;
	width: 100%;
	}
	.shop_left .shop_text ul li{
	width: 20%;
	height: 32px;
	line-height: 32px;
	float: left;
	}
	.shop_left .shop_text ul{
	float: left;
	background: #535353;
	width: 100%;
	padding: 0%;
	}
	.shop_left .shop_text ul li a{
	color: #FFFFFF;
	margin: 2%;
	}
	.shop_compy ul li {
	width: 25%;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 20px;
	}
	.shop_middle{
	width: 50%;
	float: left;
	margin:0 3% 0 3%;
	}
	.shop_right{
	width: 42%;
	float: right;
	}
	.answer_left_up ul li,.answer_left_down ul li{
		margin-left: 25%;
	}
	.answer_left{
		width: 100%;
		white-space:nowrap;
		text-overflow:ellipsis;
		-o-text-overflow:ellipsis;
		overflow:hidden;
	}
	
	.answer_middle{
		width: 31%;
		margin:50px 0% 0% 0%;
	}
	
	.answwer_right{
		margin-top: 50px;
		width: 67%;
	}
	.answer_middle a p{
		height: 32px;
		line-height: 32px;
		margin-top: -32PX;
		font-size: 12px;
	}
	.home_porsonal ul li{
		width: 32.8%;
		text-align: center;
		float: left;
	}
	.home_service ul li{
		width: 30%;
		float: left;
		line-height: 1.2;
		margin-left: 2%;
		text-align: center;
		float: left;
	}
	.home_service ul li label{
		width: 100%;
		float: left;
	}
	.home_service ul li img{
		max-width: 100%;
	}
	.footer{
		width: 90%;
		margin:0 auto;
		padding:20px 0px 20px 0px;
	}
	.footer dl{
		width: 30%;
		float: left;
		color: #c0c0c0;
		line-height: 2.6;
	}
	.scode{
		text-align: left;
	}
}
@media screen and (max-width:720px) {
	body{
		padding: 6px;
	}
	.logo{width:100%;}
	.search ul{margin: 4px 0px 0px 0px;}
	.main_middle{width:100%;text-align: center;padding-top: 10px;}
	.main_middle img{max-width: 100%;}
	.main_left{width:100%;display: none;}
	.exaple_title ul li{margin-left: 20px;}
	.exaple_content_middle_top_left a p,.exaple_content_middle_top_right a p,.exaple_content_middle_bottom a p{
		height: 26px;
		line-height: 26px;
		margin-top: -26PX;
		font-size: 12px;
	}
	.exaple_content_left a p,.exaple_content_middle a p,.exaple_content_right a p{
		height: 26px;
		line-height: 26px;
		margin-top: -26PX;
		font-size: 12px;
	}
	.home_direct ul li a p{
		height: 24px;
		line-height: 24px;
		margin-top: -24PX;
		font-size: 12px;
	}
	.nav ul li{width: 20%; font-size: 12px;}
	.home_porsonal ul li .base{
		width: 120px;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.base_link{
		width: 78px;
	    height: 78px;
	    margin: 0 auto;
	    line-height: 2;
	    z-index: 10;
	    color: #FFFFFF;
	    display: none;
	    border-radius: 50%;
	    padding: 20px;
	    margin-top: -118px;
	}
	.designer-list ul li {
		width: 33%;
	}
	.answer_middle {
	    width: 36%;
	    margin: 50px 0% 0% 2%;
	}
	.answwer_right {
	    margin-top: 50px;
	    width: 57%;
	}
}
@media screen and (max-width:480px) {
	.designer-list ul li {
		width: 50%;
	}
	.shop_middle{
		width: 50%;
		float: left;
		margin:0;
		}
	.shop_right{
		width: 49%;
		float: right;
	}
}
@media screen and (max-width:320px) {
	.head-top ul li {
	    padding: 5px;
	}
	.designer-list ul li {
		width: 50%;
	}
	.shop_middle{
		width: 50%;
		float: left;
		margin:0;
		}
	.shop_right{
		width: 49%;
		float: right;
	}
	.home_porsonal ul li .base {
	    width: 90px;
	    text-align: center;
	    margin: 0 auto;
	    margin-bottom: 20px;
	}
	.base_link {
	    width: 54px;
	    height: 54px;
	    margin: 0 auto;
	    line-height: 2;
	    z-index: 10;
	    color: #FFFFFF;
	    display: none;
	    border-radius: 50%;
	    padding: 18px;
	    margin-top: -90px;
	}
	.answer_middle {
	    width: 49%;
	    margin: 50px 0% 0% 0%;
	}
	.nswwer_right {
	    margin-top: 50px;
	    width: 46%;
	}
}